{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="page-width section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="collage-wrapper-title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    <div class="collage{% if section.settings.mobile_layout == 'collage' %} collage--mobile{% endif %}">
      {% assign skip_card_product_styles = false %}
      {%- for block in section.blocks -%}
        <div
          class="collage__item collage__item--{{ block.type }} collage__item--{{ section.settings.desktop_layout }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class="collage-card {% if section.settings.card_styles == 'none' %}global-media-settings{% else %}card-wrapper {{ section.settings.card_styles }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                <div
                  class="media media--transparent ratio"
                  {% if block.settings.image != blank %}
                    style="--ratio-percent: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%"
                  {% else %}
                    style="--ratio-percent: 100%"
                  {% endif %}
                >
                  {%- if block.settings.image != blank -%}
                    {%- liquid
                      if section.settings.desktop_layout == 'left'
                        assign large_block = forloop.first
                      else
                        assign large_block = forloop.last
                      endif

                      assign grid_space_desktop = settings.spacing_grid_horizontal | divided_by: 2 | append: 'px'
                      assign grid_space_mobile = settings.spacing_grid_horizontal | divided_by: 4 | append: 'px'
                    -%}
                    {%- if large_block -%}
                      {%- capture sizes -%}
                        {% if section.blocks.size == 1 -%}(min-width: {{ settings.page_width }}px) calc({{ settings.page_width }}px - 100px){% else %}(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - 100px) * 2 / 3 - {{ grid_space_desktop }}){% endif %},
                        {% if section.blocks.size == 1 -%}(min-width: 750px) calc(100vw - 100px){% else %}(min-width: 750px) calc((100vw - 100px) * 2 / 3 - {{ grid_space_desktop }}){% endif %},
                        {% if section.blocks.size == 2 and section.settings.mobile_layout == 'collage' -%}calc((100vw - 30px) / 2){% else %}calc(100vw - 30px){% endif %}
                        {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 3200
                        | image_tag:
                          sizes: sizes,
                          widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      }}
                    {%- else -%}
                      {%- capture sizes -%}
                           (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - 100px) * 1 / 3 - {{ grid_space_desktop }}),
                           (min-width: 750px) calc((100vw - 100px) * 1 / 3 - {{ grid_space_desktop }}),
                           {% if section.settings.mobile_layout == 'collage' %}calc((100vw - 30px) / 2 - {{ grid_space_mobile }}){% else %}calc(100vw - 30px){% endif %}
                        {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 3200
                        | image_tag:
                          sizes: sizes,
                          widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      }}
                    {%- endif -%}
                  {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
              </div>
            {%- when 'product' -%}
              {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
              {% render 'card-product',
                card_product: block.settings.product,
                media_aspect_ratio: 'adapt',
                show_secondary_image: block.settings.second_image,
                extend_height: true,
                placeholder_image: placeholder_image,
                skip_styles: skip_card_product_styles
              %}
              {% assign skip_card_product_styles = true %}
            {%- when 'collection' -%}
              {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
              {% render 'card-collection',
                card_collection: block.settings.collection,
                media_aspect_ratio: 'adapt',
                columns: 2,
                extend_height: true,
                wrapper_class: section.settings.card_styles,
                placeholder_image: placeholder_image
              %}
            {%- when 'video' -%}
              <div class="collage-card {% if section.settings.card_styles == 'none' %}global-media-settings{% else %}{{ section.settings.card_styles }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                <modal-opener data-modal="#PopupModal-{{ block.id }}">
                  <div class="deferred-media">
                    <button
                      class="deferred-media__poster full-unstyled-link"
                      type="button"
                      aria-label="{{ 'sections.video.load_video' | t: description: block.settings.description | escape }}"
                      aria-haspopup="dialog"
                      data-media-id="{{ block.settings.video_url.id }}"
                    >
                      <div
                        class="media media--transparent ratio"
                        {% if block.settings.cover_image != blank %}
                          style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"
                        {% else %}
                          style="--ratio-percent: 100%"
                        {% endif %}
                      >
                        <span class="deferred-media__poster-button motion-reduce">
                          <span class="svg-wrapper">
                            {{- 'icon-play.svg' | inline_asset_content -}}
                          </span>
                        </span>

                        {%- if block.settings.cover_image != blank -%}
                          {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px)
                            {% if section.blocks.size == 1 -%}
                              calc({{ settings.page_width }}px - 100px)
                            {%- else -%}
                              {{- settings.page_width | minus: 100 | times: 0.67 | round }}px
                            {%- endif -%}
                            , (min-width: 750px)
                            {%- if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif -%}
                            , calc(100vw - 30px)
                          {%- endcapture -%}
                          {{
                            block.settings.cover_image
                            | image_url: width: 3000
                            | image_tag: sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
                          }}
                        {%- else -%}
                          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    </button>
                  </div>
                </modal-opener>
                <modal-dialog
                  id="PopupModal-{{ block.id }}"
                  class="modal-video media-modal color-{{ settings.color_schemes | first }}"
                >
                  <div
                    class="modal-video__content"
                    role="dialog"
                    aria-label="{{ block.settings.description | escape }}"
                    aria-modal="true"
                    tabindex="-1"
                  >
                    <button
                      id="ModalClose-{{ block.id }}"
                      type="button"
                      class="modal-video__toggle"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-close.svg' | inline_asset_content -}}
                      </span>
                    </button>
                    <div class="modal-video__content-info">
                      <deferred-media class="modal-video__video template-popup">
                        <template>
                          {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
                              class="js-youtube"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.description | escape }}"
                            ></iframe>
                          {%- else -%}
                            <iframe
                              src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"
                              class="js-vimeo"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.description | escape }}"
                            ></iframe>
                          {%- endif -%}
                        </template>
                      </deferred-media>
                    </div>
                  </div>
                </modal-dialog>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <!-- <p class="gold-price"></p> -->
  <!-- <iframe
    class="gold-price"
    height="600"
    width="100%"
    src="https://goldbroker.com/widget/live/XAU?currency=PKR&amp;height=600"
    frameborder="0"
    scrolling="no"
  >
    The line graph above presents a detailed insight into the daily gold rates in Karachi over the span of 30 days,
    ranging from 15nd October 2023 to 16th November 2023. The statistics provided cover various karats and measurements
    of gold, thus giving a comprehensive view of the gold market in Karachi during this period.</iframe
  >
</div> -->
  <div class="market-history">   
                <div class="row history_switch">
                    <div class="col-lg-9">
                        <div class="heading pt-2">
                        <h1 class="d-inline" title="GOLD (Today Price, Live Updates)">GOLD Rate in Pakistan today</h1>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="filter float-lg-right float-sm-left pt-1">
                            <nav class="border bg-white">
                                <div class="nav nav-tabs bg-white border-0" id="tabs" role="tablist">
                                    <a class="nav-item nav-link active" data-target="#forex-price-history" data-toggle="switch_tabs">Price</a>
                                    <a href="GOLD" class="nav-item nav-link" data-target="#commodities-trading" data-toggle="switch_tabs">TradingView</a> 
                                    <!-- <a href="https://sarmaaya.pk/ajax/widgets/commodities_sip_new.php?symbol=GOLD" class="nav-item nav-link" data-target="#sip-chart" data-toggle="switch_tabs">SIP</a> -->
                                </div>
                            </nav> 
                        </div>
                    </div>
                </div>

                <div id="tabsContent" class="tab-content">
                    <div id="forex-price-history" class="tab-pane fade active show">
                        <div class="card shadow-sm rounded-0 price_chart mt-2"> 
                            <div class="card-head">
                                <div class="row">
                                    <div class="col-lg-5">  
                                        <h2 class="m-3 font-16" title="GOLD Price History">GOLD Price in Pakistan history</h2>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="m-2 float-lg-right"> 
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist"> 
                                                                                                        <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=1d" class="nav-item nav-link" id="nav-1d-tab" data-toggle="tabajax" data-target="#nav-1d" role="tab" aria-controls="nav-1d" aria-selected="true" title="1d">1d</a>
                                                    <a class="nav-item nav-link active" id="nav-1w-tab" data-toggle="tabajax" href="#nav-1w" role="tab" aria-controls="nav-1w" aria-selected="true" title="1w">1w</a> 
                                                                                                        <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=1m" class="nav-item nav-link" id="nav-1m-tab" data-toggle="tabajax" data-target="#nav-1m" role="tab" aria-controls="nav-1m" aria-selected="true" title="1m">1m</a>
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=3m" class="nav-item nav-link" id="nav-3m-tab" data-toggle="tabajax" data-target="#nav-3m" role="tab" aria-controls="nav-3m" aria-selected="true" title="3m">3m</a> 
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=6m" class="nav-item nav-link" id="nav-6m-tab" data-toggle="tabajax" data-target="#nav-6m" role="tab" aria-controls="nav-6m" aria-selected="true" title="6m">6m</a>
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=1y" class="nav-item nav-link" id="nav-1y-tab" data-toggle="tabajax" data-target="#nav-1y" role="tab" aria-controls="nav-1y" aria-selected="true" title="1y">1y</a>
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=5y" class="nav-item nav-link" id="nav-5y-tab" data-toggle="tabajax" data-target="#nav-5y" role="tab" aria-controls="nav-5y" aria-selected="true" title="5y">5y</a>
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=10y" class="nav-item nav-link" id="nav-10y-tab" data-toggle="tabajax" data-target="#nav-10y" role="tab" aria-controls="nav-10y" aria-selected="true" title="10y">10y</a>
                                                    <a href="https://sarmaaya.pk/ajax/widgets/commodity_price_chart.php?symbol=GOLD&amp;range=20y" class="nav-item nav-link" id="nav-20y-tab" data-toggle="tabajax" data-target="#nav-20y" role="tab" aria-controls="nav-20y" aria-selected="true" title="20y">20y</a>
                                                </div>
                                            </nav>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade" id="nav-1d" role="tabpanel" aria-labelledby="nav-1d-tab"></div>
                                    <div class="tab-pane fade show active" id="nav-1w" role="tabpanel" aria-labelledby="nav-1w-tab"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                        <canvas id="commodity_price_chart" class="chartjs-render-monitor" height="538" style="display: block; width: 673px; height: 269px;" width="1346"></canvas>
                                    </div>
                                      
                                    <div class="tab-pane fade" id="nav-1m" role="tabpanel" aria-labelledby="nav-1m-tab"></div>
                                    
                                    <div class="tab-pane fade" id="nav-3m" role="tabpanel" aria-labelledby="nav-3m-tab"></div> 
                                    <div class="tab-pane fade" id="nav-6m" role="tabpanel" aria-labelledby="nav-6m-tab"></div>
                                    <div class="tab-pane fade" id="nav-1y" role="tabpanel" aria-labelledby="nav-1y-tab"></div>
                                    <div class="tab-pane fade" id="nav-5y" role="tabpanel" aria-labelledby="nav-5y-tab"></div>
                                    <div class="tab-pane fade" id="nav-10y" role="tabpanel" aria-labelledby="nav-10y-tab"></div>
                                    <div class="tab-pane fade" id="nav-20y" role="tabpanel" aria-labelledby="nav-20y-tab"></div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="commodities-trading" class="tab-pane fade">
                        <div class="heading d-inline">
                           
                        </div> 

                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container mt-2">
                        <div id="tradingview_0bb70" class="tradingview_market_history"><div id="tradingview_834f3-wrapper" style="position: relative; box-sizing: content-box; font-family: -apple-system, BlinkMacSystemFont, &quot;Trebuchet MS&quot;, Roboto, Ubuntu, sans-serif; margin: 0px auto !important; padding: 0px !important; width: 100%; height: 100%;"><iframe title="advanced chart TradingView widget" lang="en" id="tradingview_834f3" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="true" src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en#%7B%22symbol%22%3A%22TVC%3AGOLD%22%2C%22frameElementId%22%3A%22tradingview_834f3%22%2C%22interval%22%3A%2230%22%2C%22hide_side_toolbar%22%3A%220%22%2C%22allow_symbol_change%22%3A%221%22%2C%22save_image%22%3A%221%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22light%22%2C%22style%22%3A%223%22%2C%22timezone%22%3A%22Etc%2FUTC%22%2C%22withdateranges%22%3A%221%22%2C%22show_popup_button%22%3A%221%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22utm_source%22%3A%22sarmaaya.pk%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22TVC%3AGOLD%22%2C%22page-uri%22%3A%22sarmaaya.pk%2Fcommodities%2Fsymbol%2FGOLD%22%7D" style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe></div></div> 
                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script> 
                        <script type="text/javascript">
                            new TradingView.widget(
                                {
                                "autosize": true,  
                                "symbol": "TVC:GOLD",
                                "interval": "30",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "3",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6", 
                                "enable_publishing": false,
                                "withdateranges": true,
                                "hide_side_toolbar": false,
                                "allow_symbol_change": true,
                                "show_popup_button": true,
                                "popup_width": "1000",
                                "popup_height": "650",
                                "container_id": "tradingview_0bb70"
                                }
                            );
                        </script>
                        </div>
                        <!-- TradingView Widget END -->
                        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" target="_blank"><span class="blue-text">Chart</span></a> by TradingView</div>
                    </div>
                    <div id="sip-chart" class="tab-pane fade"></div>
                </div> 
            </div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.collage.settings.heading.default",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage.settings.desktop_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.collage.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collage.settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "collage",
          "label": "t:sections.collage.settings.mobile_layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.collage.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "column",
      "label": "t:sections.collage.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "card_styles",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collage.settings.card_styles.options__1.label"
        },
        {
          "value": "product-card-wrapper",
          "label": "t:sections.collage.settings.card_styles.options__2.label"
        }
      ],
      "default": "product-card-wrapper",
      "info": "t:sections.collage.settings.card_styles.info",
      "label": "t:sections.collage.settings.card_styles.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": false,
          "label": "t:sections.collage.blocks.product.settings.second_image.label"
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.collage.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collage.blocks.collection.settings.collection.label"
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.collage.blocks.video.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.collage.blocks.video.settings.cover_image.label"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.collage.blocks.video.settings.video_url.label",
          "placeholder": "t:sections.collage.blocks.video.settings.video_url.placeholder",
          "info": "t:sections.collage.blocks.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "description",
          "default": "t:sections.collage.blocks.video.settings.description.default",
          "label": "t:sections.collage.blocks.video.settings.description.label",
          "info": "t:sections.collage.blocks.video.settings.description.info"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "product"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
